body {
  margin: 0;
  background-color: #ffeaa7;
  text-align: center;
  font-family: 'Open Sans';
}

h1 {
  font-weight: bold;
  font-size: 35px;
}

p {
  background-color: #fdcb6e;
  padding: 13px;
}

.container {
  margin: 0 auto;
  width: 400px;
}